body {
  line-height: 1.3;
}
#header h1, h2 {
  margin: 0 !important;
}
#header h1 {
  line-height: 0.8 !important;
}
#header h2 {
  line-height: 1.4 !important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.socialNetworkNav {
  /*border-radius: 50%;*/
  cursor: pointer;
  height: 60px !important;
  display: inline-block;
  margin-right: 20px;
}
.socialNetworkNav:hover {
  opacity: 0.5;
}


li.active .nav-link {
  color: #FFF !important;
}

button.link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  color: #00f;
  text-decoration: underline;
  font: inherit;
}
